@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}
.contenedor-global{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: URL(assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    background: #0a2a43;
    min-height: 1500px;

}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to top, #0a2a43, transparent 80%);
    z-index: 1000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
position: relative;
color: #fff;
font-size: 10em;
z-index: 1;
}

#road{
    z-index: 2;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-image: url(assets/bg.jpg);
    width: 100vw; 
    position: relative;
}

.navbar__logo{
    width: 50px;
    height: 50px;
    margin-right: 500px;
}


.navbar__notch{
    border: 1px solid #ccc;
    background: #0a2a43;
    padding: 8px 20px 8px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 2rem;
}


.navbar__notch p{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
}

.navbar__notch a{
    color: #fff;
}

.navbar__notch p::before{
    position: absolute;
    content: "";
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;

}

.navbar__menu{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar__notch a{
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
}

.navbar__notch a::before{
    position: absolute;
    content: "New";
    padding: 2px 6px;
    background: #d85f44;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 10px;
    top: -18px;
    right: -12px;
}

.navbar__menu-link{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    background: #0a2a43;
    padding:6px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.navbar__menu-link:hover,.hero-course__mode-option.selected,.hero-course__duration-option.selected{
    background: #13476e;
    border: 1px solid #ccc;
}

.separator{
    display: block;
    margin: 4rem 0 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 0 4rem;
    gap: 3rem;
    color: white;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}


.program,.career{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 40px;
    color: white;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}


.program__image{
    width: 45%;
}

.program__image-photo,.career__image-photo{
    width: 100%;
    height: 420px;
    border-radius: 2rem;
}

.program__info,.career__details,.abput__details{
    width: 55%;
}

.program__title,.career__title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.program__description,.career__description{
    font-size: 0.9rem;
    margin:0 0 2.5rem;
}

.program__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

.program__label{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.program__duration-list,.program__format-list{
    list-style: none;
}

.program__duration-item,.program__format-item{
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}


.course-list{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 40px;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

.course-list__item{
    width: 90%;


}


.course-list__item-image{
    width: 100%;
    height: 300px;
    border-radius: 2rem;
}


.course-list__item-details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0.6rem 1.5rem
}


.course-list__item-title,.course-list__item-price{
    font-weight: 600;
}


.course-list__item-price span{
    font-size: 0.8rem;
    font-weight: 500;
}

.course-list__item-description{
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: justify;
}


.course-list__item-button{
    padding: 0.5rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: #Fff;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.course-list__item-button:hover{
    background: #ebeddf;
    border-color: transparent;
}

.career{
     margin-top: 5rem;
     animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

.career__image img{
    width: 40%;
    height: auto;
}

.career__benefits{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.career__benefit-title{
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.career__benefit-description{
    font-size: 0.9rem;
}

.about{
    background-color: #13476e;
    background-image: repeating-radial-gradient(circle at 0 0 ,transparent 0, #13476e 40px),repeating-linear-gradient(#213c5255, #052c4b);
    height: 440px;
    margin-top: 5rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 2rem 0rem 2rem 6rem;
    gap: 5rem;
    margin: 80px 40px 0 40px;
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}

.about__image{
    width: 35%;
    height: 85%;
    transform: rotate(-10deg);
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.about__details-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
}


.about__details-description{
    padding: 0 5.5rem 0 0;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
}


.about__details-button{
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about__details-button:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.gradient{
    background: linear-gradient(180deg,transparent 0%,#13476e 25%,#0a2a4a 100%);
    margin-top: 5rem;
}

.subscription{
    text-align: center;
    padding: 60px 40px;
    color: #fff;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

.subscription__title{
    font-size: 2.5rem;
    font-weight: 600;
}

.subscription__description{
    margin: 1rem 0 2rem;
}


.subscription__form{
    position: relative;
    background: #fff;
    display: inline;
    padding: 0.6rem 0.4rem 0.7rem;
    border-radius: 2rem;
}

.subscription__input{
    padding: 0.4rem;
    width: 320px;
    border: none;
    outline: none;
}

.subscription__button{
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 2rem;
    background: #a2cff8;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.subscription__button:hover{
    background: #83bff5;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 40px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: space-around;

    text-align: center;
}


.footer__column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__link{
    transition: all 0.3s ease;
    color: #fff;

}

.footer__link:hover{
    transform: translateX(8px);
}

.footer__brand-name{
    width: 150px;
    height: 150px;
    align-items: center;
}

.footer__copyright{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
    text-align: center;
}


@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 60%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}

@media screen and (max-width: 1080px) {
    .contenedor-global{
        background-attachment: scroll 
    }

    .section{
        height: 100vh;
    }
    section {
        height: 100%; /* Ajusta la altura para m칩viles */
        width: auto;
    }

    section::before {
        height: 100%; /* Reduce el tama침o del gradiente */
    }

    section::after {
        background: linear-gradient(to top, #0a2a43, transparent 60%);
        height: auto;
        bottom: -500px;
    }

    section img {
        overflow: auto;
        height: 100%; /* Ajusta la imagen para que no se deforme */
        width: auto;
    }

    #text {
        font-size: 5em; /* Reduce el tama침o del texto */
        padding: 0 10px; /* A침ade espacio lateral si es necesario */
    }

    .navbar{
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar img{
        margin: auto;
    }
    .navbar__menu, .navbar__notch{
        display: none;
    }

    section {
        height: 100%;
        padding: 20px;
    }

    section::before,
    section::after {
        height: 50px;
    }

    section img {
        object-fit: contain;
    }
    .course-list{
        animation: none;
        animation-timeline: none;
    }
    .program{
        display: flex;
        flex-direction: column;
    }
    .program__image img{
        height: auto;
    }
    .program__info{
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .program__details{
        display: flex;
        flex-direction: column;

    }
    .program__image{
        width: 80%;
        height: auto;
    }
    .course-list{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 20px;
    }
    .course-list__item{
        width: 100%;
    }
    .course-list__item img{
        width: 100%;
        height: auto;
    }
    .course-list__item-button{
        margin: 30px auto;
        padding: 10px;
        align-items: center;
        width: 100%;
        height: 40px;
    }
    .career{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .career__image{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .career img {
        width: 80%;
    }
    .career__details{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about{
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        margin: 20px auto;
        animation: none;
        animation-timeline: none;
    }
    .about img{
        display: flex;
        width: 100%;
        margin: auto;
    }
    .about__details{
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .about__details-description{
        width: 100%;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .about__details-button{
        padding: 10px;
        margin: 20px auto;
        width: 80%;
    }
    .subscription__form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: space-around;
    }
    .subscription__form input {
        margin: 20px auto;
        max-width: 80%;
    }
    .footer-links{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer__branding img{
        width: 20%;
        height: auto;
        margin: 30px auto;
    }
    .footer-links a{
        display: flex;
        margin: auto;
        justify-content: center;

    }

}


@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    section {
        padding: 10px;
    }
}

